Repository ROCm/hipBLAS, changes with the owners that .github/CODEOWNERS names for each.
All owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @amcamd @TorreZuk @mahmoodw @daineAMD @bragadeesh @NaveenElumalaiAMD @rkamd
# Documentation files
docs/* @ROCm/rocm-documentation @amcamd @TorreZuk @mahmoodw @daineAMD @bragadeesh @NaveenElumalaiAMD @rkamd
*.md @ROCm/rocm-documentation @amcamd @TorreZuk @mahmoodw @daineAMD @bragadeesh @NaveenElumalaiAMD @rkamd
*.rst @ROCm/rocm-documentation @amcamd @TorreZuk @mahmoodw @daineAMD @bragadeesh @NaveenElumalaiAMD @rkamd
# Header directory for Doxygen documentation
library/include/* @ROCm/rocm-documentation @amcamd @TorreZuk @mahmoodw @daineAMD @bragadeesh @NaveenElumalaiAMD @rkamd

fix cuda build.
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Spr and spr2 64-bit interface (#805)
  clients/common/hipblas_template_specialization.cpp
  clients/gtest/blas2/spr2_gtest.yaml
  clients/gtest/blas2/spr_gtest.yaml
  clients/include/blas2/testing_spr.hpp
  clients/include/blas2/testing_spr2.hpp
  clients/include/blas2/testing_spr2_batched.hpp
  clients/include/blas2/testing_spr2_strided_batched.hpp
  clients/include/blas2/testing_spr_batched.hpp
  clients/include/blas2/testing_spr_strided_batched.hpp
  clients/include/hipblas.hpp
  clients/include/hipblas_fortran.h.in
  clients/include/hipblas_fortran.hpp
  clients/include/hipblas_fortran_blas_64.f90
  clients/include/hipblas_no_fortran.hpp
  docs/functions.rst
  library/include/hipblas.h
  library/src/amd_detail/hipblas.cpp
  library/src/hipblas_module.f90
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

Spr and spr2 64-bit interface (#805)
  clients/common/hipblas_template_specialization.cpp
  clients/gtest/blas2/spr2_gtest.yaml
  clients/gtest/blas2/spr_gtest.yaml
  clients/include/blas2/testing_spr.hpp
  clients/include/blas2/testing_spr2.hpp
  clients/include/blas2/testing_spr2_batched.hpp
  clients/include/blas2/testing_spr2_strided_batched.hpp
  clients/include/blas2/testing_spr_batched.hpp
  clients/include/blas2/testing_spr_strided_batched.hpp
  clients/include/hipblas.hpp
  clients/include/hipblas_fortran.h.in
  clients/include/hipblas_fortran.hpp
  clients/include/hipblas_fortran_blas_64.f90
  clients/include/hipblas_no_fortran.hpp
  docs/functions.rst
  library/include/hipblas.h
  library/src/amd_detail/hipblas.cpp
  library/src/hipblas_module.f90
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

Move large 64-bit value to shared header.
  clients/include/blas2/testing_sbmv.hpp
  clients/include/blas2/testing_sbmv_batched.hpp
  clients/include/blas2/testing_sbmv_strided_batched.hpp
  clients/include/blas2/testing_spmv.hpp
  clients/include/blas2/testing_spmv_batched.hpp
  clients/include/blas2/testing_spmv_strided_batched.hpp
  clients/include/blas2/testing_spr.hpp
  clients/include/blas2/testing_spr2.hpp
  clients/include/blas2/testing_spr2_batched.hpp
  clients/include/blas2/testing_spr2_strided_batched.hpp
  clients/include/blas2/testing_spr_batched.hpp
  clients/include/blas2/testing_spr_strided_batched.hpp
  clients/include/utility.h
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

linux and win additions
  clients/CMakeLists.txt
  clients/benchmarks/CMakeLists.txt
  clients/cmake/build-options.cmake
  clients/gtest/CMakeLists.txt
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

sbmv and spmv 64-bit interface (#807)
  clients/gtest/blas2/sbmv_gtest.yaml
  clients/gtest/blas2/spmv_gtest.yaml
  clients/include/blas2/testing_sbmv.hpp
  clients/include/blas2/testing_sbmv_batched.hpp
  clients/include/blas2/testing_sbmv_strided_batched.hpp
  clients/include/blas2/testing_spmv.hpp
  clients/include/blas2/testing_spmv_batched.hpp
  clients/include/blas2/testing_spmv_strided_batched.hpp
  clients/include/blas2/testing_spr.hpp
  clients/include/blas2/testing_spr2.hpp
  clients/include/blas2/testing_spr2_batched.hpp
  clients/include/blas2/testing_spr2_strided_batched.hpp
  clients/include/blas2/testing_spr_batched.hpp
  clients/include/blas2/testing_spr_strided_batched.hpp
  clients/include/hipblas.hpp
  clients/include/hipblas_fortran.h.in
  clients/include/hipblas_fortran.hpp
  clients/include/hipblas_fortran_blas_64.f90
  clients/include/hipblas_no_fortran.hpp
  clients/include/utility.h
  docs/functions.rst
  library/include/hipblas.h
  library/src/amd_detail/hipblas.cpp
  library/src/hipblas_module.f90
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

sbmv and spmv 64-bit interface (#807)
  clients/gtest/blas2/sbmv_gtest.yaml
  clients/gtest/blas2/spmv_gtest.yaml
  clients/include/blas2/testing_sbmv.hpp
  clients/include/blas2/testing_sbmv_batched.hpp
  clients/include/blas2/testing_sbmv_strided_batched.hpp
  clients/include/blas2/testing_spmv.hpp
  clients/include/blas2/testing_spmv_batched.hpp
  clients/include/blas2/testing_spmv_strided_batched.hpp
  clients/include/blas2/testing_spr.hpp
  clients/include/blas2/testing_spr2.hpp
  clients/include/blas2/testing_spr2_batched.hpp
  clients/include/blas2/testing_spr2_strided_batched.hpp
  clients/include/blas2/testing_spr_batched.hpp
  clients/include/blas2/testing_spr_strided_batched.hpp
  clients/include/hipblas.hpp
  clients/include/hipblas_fortran.h.in
  clients/include/hipblas_fortran.hpp
  clients/include/hipblas_fortran_blas_64.f90
  clients/include/hipblas_no_fortran.hpp
  clients/include/utility.h
  docs/functions.rst
  library/include/hipblas.h
  library/src/amd_detail/hipblas.cpp
  library/src/hipblas_module.f90
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

client testing code changes
  clients/common/hipblas_template_specialization.cpp
  clients/include/blas2/testing_tbmv.hpp
  clients/include/blas2/testing_tbmv_batched.hpp
  clients/include/blas2/testing_tbmv_strided_batched.hpp
  clients/include/blas2/testing_tpmv.hpp
  clients/include/blas2/testing_tpmv_batched.hpp
  clients/include/blas2/testing_tpmv_strided_batched.hpp
  clients/include/blas2/testing_trmv.hpp
  clients/include/blas2/testing_trmv_batched.hpp
  clients/include/blas2/testing_trmv_strided_batched.hpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

alllow windows AOCL 4.2 CPU reference
  clients/CMakeLists.txt
  clients/benchmarks/CMakeLists.txt
  clients/gtest/CMakeLists.txt
  docs/install.rst
  rmake.py
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

Rest of ILP64 changes
  clients/gtest/blas2/tbmv_gtest.yaml
  clients/gtest/blas2/tpmv_gtest.yaml
  clients/gtest/blas2/trmv_gtest.yaml
  clients/include/blas2/testing_tbmv.hpp
  clients/include/blas2/testing_tbmv_strided_batched.hpp
  clients/include/blas2/testing_tpmv_batched.hpp
  clients/include/hipblas.hpp
  clients/include/hipblas_fortran.h.in
  clients/include/hipblas_fortran.hpp
  clients/include/hipblas_fortran_blas_64.f90
  clients/include/hipblas_no_fortran.hpp
  docs/functions.rst
  library/include/hipblas.h
  library/src/amd_detail/hipblas.cpp
  library/src/hipblas_module.f90
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

Addedd _64
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

fix CUDA CI
  clients/common/hipblas_template_specialization.cpp
  clients/include/blas2/testing_tbmv_batched.hpp
  clients/include/blas2/testing_tpmv.hpp
  clients/include/blas2/testing_tpmv_strided_batched.hpp
  clients/include/blas2/testing_trmv.hpp
  clients/include/blas2/testing_trmv_batched.hpp
  clients/include/blas2/testing_trmv_strided_batched.hpp
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

update TOC to match rocDecode (#802)
  docs/index.rst
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

update TOC to match rocDecode (#802)
  docs/index.rst
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Client side changes
  clients/common/hipblas_template_specialization.cpp
  clients/include/blas2/testing_hpmv.hpp
  clients/include/blas2/testing_hpmv_batched.hpp
  clients/include/blas2/testing_hpmv_strided_batched.hpp
  clients/include/blas2/testing_hpr.hpp
  clients/include/blas2/testing_hpr2.hpp
  clients/include/blas2/testing_hpr2_batched.hpp
  clients/include/blas2/testing_hpr2_strided_batched.hpp
  clients/include/blas2/testing_hpr_batched.hpp
  clients/include/blas2/testing_hpr_strided_batched.hpp
  clients/include/hipblas.hpp
  clients/include/hipblas_fortran.h.in
  clients/include/hipblas_fortran.hpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Added bad_ard 64-bit tests
  clients/include/blas2/testing_hpmv.hpp
  clients/include/blas2/testing_hpmv_batched.hpp
  clients/include/blas2/testing_hpmv_strided_batched.hpp
  clients/include/blas2/testing_hpr.hpp
  clients/include/blas2/testing_hpr2.hpp
  clients/include/blas2/testing_hpr2_batched.hpp
  clients/include/blas2/testing_hpr2_strided_batched.hpp
  clients/include/blas2/testing_hpr_batched.hpp
  clients/include/blas2/testing_hpr_strided_batched.hpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Remove redundant steps
  clients/include/blas2/testing_her.hpp
  clients/include/blas2/testing_her2.hpp
  clients/include/blas2/testing_her2_batched.hpp
  clients/include/blas2/testing_her2_strided_batched.hpp
  clients/include/blas2/testing_her_batched.hpp
  clients/include/blas2/testing_her_strided_batched.hpp
  clients/include/blas2/testing_hpmv.hpp
  clients/include/blas2/testing_hpmv_batched.hpp
  clients/include/blas2/testing_hpmv_strided_batched.hpp
  clients/include/blas2/testing_hpr.hpp
  clients/include/blas2/testing_hpr2.hpp
  clients/include/blas2/testing_hpr_batched.hpp
  clients/include/blas2/testing_hpr_strided_batched.hpp
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Rest of ILP64 changes
  clients/gtest/blas2/hpmv_gtest.yaml
  clients/gtest/blas2/hpr2_gtest.yaml
  clients/gtest/blas2/hpr_gtest.yaml
  clients/include/blas2/testing_hpmv_strided_batched.hpp
  clients/include/blas2/testing_hpr.hpp
  clients/include/blas2/testing_hpr2.hpp
  clients/include/blas2/testing_hpr_batched.hpp
  clients/include/hipblas_fortran_blas_64.f90
  clients/include/hipblas_no_fortran.hpp
  library/include/hipblas.h
  library/src/amd_detail/hipblas.cpp
  library/src/hipblas_module.f90
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

fix CI
  clients/include/blas2/testing_hpmv.hpp
  clients/include/blas2/testing_hpmv_batched.hpp
  clients/include/blas2/testing_hpmv_strided_batched.hpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Doc Changes
  docs/functions.rst
Owners: @ROCm/rocm-documentation, @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Fix after rebase
  clients/include/hipblas_fortran.h.in
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

64-bit interface for symv, syr, and syr2.
  clients/common/hipblas_template_specialization.cpp
  clients/gtest/blas2/symv_gtest.yaml
  clients/gtest/blas2/syr2_gtest.yaml
  clients/gtest/blas2/syr_gtest.yaml
  clients/include/blas2/testing_symv.hpp
  clients/include/blas2/testing_symv_batched.hpp
  clients/include/blas2/testing_symv_strided_batched.hpp
  clients/include/blas2/testing_syr.hpp
  clients/include/blas2/testing_syr2.hpp
  clients/include/blas2/testing_syr2_batched.hpp
  clients/include/blas2/testing_syr2_strided_batched.hpp
  clients/include/blas2/testing_syr_batched.hpp
  clients/include/blas2/testing_syr_strided_batched.hpp
  clients/include/hipblas.hpp
  clients/include/hipblas_fortran.h.in
  clients/include/hipblas_fortran.hpp
  clients/include/hipblas_fortran_blas_64.f90
  clients/include/hipblas_no_fortran.hpp
  docs/functions.rst
  library/include/hipblas.h
  library/src/amd_detail/hipblas.cpp
  library/src/hipblas_module.f90
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

adding cuda 12 guards.
  clients/include/blas2/testing_syr_strided_batched.hpp
  docs/functions.rst
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

Update index.rst
  docs/index.rst
Owners: @ROCm/rocm-documentation, @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

hpmv hpr hpr2 ILP64 (#803)
  clients/common/hipblas_template_specialization.cpp
  clients/gtest/blas2/hpmv_gtest.yaml
  clients/gtest/blas2/hpr2_gtest.yaml
  clients/gtest/blas2/hpr_gtest.yaml
  clients/include/blas2/testing_her.hpp
  clients/include/blas2/testing_her2.hpp
  clients/include/blas2/testing_her2_batched.hpp
  clients/include/blas2/testing_her2_strided_batched.hpp
  clients/include/blas2/testing_her_batched.hpp
  clients/include/blas2/testing_her_strided_batched.hpp
  clients/include/blas2/testing_hpmv.hpp
  clients/include/blas2/testing_hpmv_batched.hpp
  clients/include/blas2/testing_hpmv_strided_batched.hpp
  clients/include/blas2/testing_hpr.hpp
  clients/include/blas2/testing_hpr2.hpp
  clients/include/blas2/testing_hpr2_batched.hpp
  clients/include/blas2/testing_hpr2_strided_batched.hpp
  clients/include/blas2/testing_hpr_batched.hpp
  clients/include/blas2/testing_hpr_strided_batched.hpp
  clients/include/hipblas.hpp
  clients/include/hipblas_fortran.h.in
  clients/include/hipblas_fortran.hpp
  clients/include/hipblas_fortran_blas_64.f90
  clients/include/hipblas_no_fortran.hpp
  docs/functions.rst
  library/include/hipblas.h
  library/src/amd_detail/hipblas.cpp
  library/src/hipblas_module.f90
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

hpmv hpr hpr2 ILP64 (#803)
  clients/common/hipblas_template_specialization.cpp
  clients/gtest/blas2/hpmv_gtest.yaml
  clients/gtest/blas2/hpr2_gtest.yaml
  clients/gtest/blas2/hpr_gtest.yaml
  clients/include/blas2/testing_her.hpp
  clients/include/blas2/testing_her2.hpp
  clients/include/blas2/testing_her2_batched.hpp
  clients/include/blas2/testing_her2_strided_batched.hpp
  clients/include/blas2/testing_her_batched.hpp
  clients/include/blas2/testing_her_strided_batched.hpp
  clients/include/blas2/testing_hpmv.hpp
  clients/include/blas2/testing_hpmv_batched.hpp
  clients/include/blas2/testing_hpmv_strided_batched.hpp
  clients/include/blas2/testing_hpr.hpp
  clients/include/blas2/testing_hpr2.hpp
  clients/include/blas2/testing_hpr2_batched.hpp
  clients/include/blas2/testing_hpr2_strided_batched.hpp
  clients/include/blas2/testing_hpr_batched.hpp
  clients/include/blas2/testing_hpr_strided_batched.hpp
  clients/include/hipblas.hpp
  clients/include/hipblas_fortran.h.in
  clients/include/hipblas_fortran.hpp
  clients/include/hipblas_fortran_blas_64.f90
  clients/include/hipblas_no_fortran.hpp
  docs/functions.rst
  library/include/hipblas.h
  library/src/amd_detail/hipblas.cpp
  library/src/hipblas_module.f90
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

ILP64 tbmv tpmv trmv (#806)
  clients/common/hipblas_template_specialization.cpp
  clients/gtest/blas2/tbmv_gtest.yaml
  clients/gtest/blas2/tpmv_gtest.yaml
  clients/gtest/blas2/trmv_gtest.yaml
  clients/include/blas2/testing_tbmv.hpp
  clients/include/blas2/testing_tbmv_batched.hpp
  clients/include/blas2/testing_tbmv_strided_batched.hpp
  clients/include/blas2/testing_tpmv.hpp
  clients/include/blas2/testing_tpmv_batched.hpp
  clients/include/blas2/testing_tpmv_strided_batched.hpp
  clients/include/blas2/testing_trmv.hpp
  clients/include/blas2/testing_trmv_batched.hpp
  clients/include/blas2/testing_trmv_strided_batched.hpp
  clients/include/hipblas.hpp
  clients/include/hipblas_fortran.h.in
  clients/include/hipblas_fortran.hpp
  clients/include/hipblas_fortran_blas_64.f90
  clients/include/hipblas_no_fortran.hpp
  docs/functions.rst
  library/include/hipblas.h
  library/src/amd_detail/hipblas.cpp
  library/src/hipblas_module.f90
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

ILP64 tbmv tpmv trmv (#806)
  clients/common/hipblas_template_specialization.cpp
  clients/gtest/blas2/tbmv_gtest.yaml
  clients/gtest/blas2/tpmv_gtest.yaml
  clients/gtest/blas2/trmv_gtest.yaml
  clients/include/blas2/testing_tbmv.hpp
  clients/include/blas2/testing_tbmv_batched.hpp
  clients/include/blas2/testing_tbmv_strided_batched.hpp
  clients/include/blas2/testing_tpmv.hpp
  clients/include/blas2/testing_tpmv_batched.hpp
  clients/include/blas2/testing_tpmv_strided_batched.hpp
  clients/include/blas2/testing_trmv.hpp
  clients/include/blas2/testing_trmv_batched.hpp
  clients/include/blas2/testing_trmv_strided_batched.hpp
  clients/include/hipblas.hpp
  clients/include/hipblas_fortran.h.in
  clients/include/hipblas_fortran.hpp
  clients/include/hipblas_fortran_blas_64.f90
  clients/include/hipblas_no_fortran.hpp
  docs/functions.rst
  library/include/hipblas.h
  library/src/amd_detail/hipblas.cpp
  library/src/hipblas_module.f90
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

Update index.rst (#812)
  docs/index.rst
Owners: @ROCm/rocm-documentation, @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Update index.rst (#812)
  docs/index.rst
Owners: @ROCm/rocm-documentation, @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Update _toc.yml.in
  docs/sphinx/_toc.yml.in
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Remove constexpr from c_i32_overflow definition to remove compilation warnings.
  clients/common/utility.cpp
  clients/include/utility.h
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

symv, syr, syr2 64-bit interface (#810)
  clients/common/hipblas_template_specialization.cpp
  clients/common/utility.cpp
  clients/gtest/blas2/symv_gtest.yaml
  clients/gtest/blas2/syr2_gtest.yaml
  clients/gtest/blas2/syr_gtest.yaml
  clients/include/blas2/testing_symv.hpp
  clients/include/blas2/testing_symv_batched.hpp
  clients/include/blas2/testing_symv_strided_batched.hpp
  clients/include/blas2/testing_syr.hpp
  clients/include/blas2/testing_syr2.hpp
  clients/include/blas2/testing_syr2_batched.hpp
  clients/include/blas2/testing_syr2_strided_batched.hpp
  clients/include/blas2/testing_syr_batched.hpp
  clients/include/blas2/testing_syr_strided_batched.hpp
  clients/include/hipblas.hpp
  clients/include/hipblas_fortran.h.in
  clients/include/hipblas_fortran.hpp
  clients/include/hipblas_fortran_blas_64.f90
  clients/include/hipblas_no_fortran.hpp
  clients/include/utility.h
  docs/functions.rst
  library/include/hipblas.h
  library/src/amd_detail/hipblas.cpp
  library/src/hipblas_module.f90
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

symv, syr, syr2 64-bit interface (#810)
  clients/common/hipblas_template_specialization.cpp
  clients/common/utility.cpp
  clients/gtest/blas2/symv_gtest.yaml
  clients/gtest/blas2/syr2_gtest.yaml
  clients/gtest/blas2/syr_gtest.yaml
  clients/include/blas2/testing_symv.hpp
  clients/include/blas2/testing_symv_batched.hpp
  clients/include/blas2/testing_symv_strided_batched.hpp
  clients/include/blas2/testing_syr.hpp
  clients/include/blas2/testing_syr2.hpp
  clients/include/blas2/testing_syr2_batched.hpp
  clients/include/blas2/testing_syr2_strided_batched.hpp
  clients/include/blas2/testing_syr_batched.hpp
  clients/include/blas2/testing_syr_strided_batched.hpp
  clients/include/hipblas.hpp
  clients/include/hipblas_fortran.h.in
  clients/include/hipblas_fortran.hpp
  clients/include/hipblas_fortran_blas_64.f90
  clients/include/hipblas_no_fortran.hpp
  clients/include/utility.h
  docs/functions.rst
  library/include/hipblas.h
  library/src/amd_detail/hipblas.cpp
  library/src/hipblas_module.f90
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

tbsv-tpsv-trsv-ILP64-changes
  clients/common/hipblas_template_specialization.cpp
  clients/include/blas2/testing_tbsv.hpp
  clients/include/blas2/testing_tbsv_batched.hpp
  clients/include/blas2/testing_tbsv_strided_batched.hpp
  clients/include/blas2/testing_tpsv.hpp
  clients/include/blas2/testing_tpsv_batched.hpp
  clients/include/blas2/testing_tpsv_strided_batched.hpp
  clients/include/blas2/testing_trsv.hpp
  clients/include/blas2/testing_trsv_batched.hpp
  clients/include/hipblas.hpp
  clients/include/hipblas_fortran_blas_64.f90
  clients/include/hipblas_no_fortran.hpp
  docs/functions.rst
  library/include/hipblas.h
  library/src/amd_detail/hipblas.cpp
  library/src/hipblas_module.f90
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

rest of the client changes
  clients/include/blas2/testing_tpsv.hpp
  clients/include/hipblas_fortran.h.in
  clients/include/hipblas_fortran.hpp
  library/include/hipblas.h
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

Fix CUDA CI
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Add back spr and spr2 changes
  library/include/hipblas.h
Owners: @ROCm/rocm-documentation, @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Enabled 64-bit tests
  clients/gtest/blas2/tbsv_gtest.yaml
  clients/gtest/blas2/tpsv_gtest.yaml
  clients/gtest/blas2/trsv_gtest.yaml
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Added arg.api == FORTRAN_64
  clients/include/blas2/testing_tpsv.hpp
  clients/include/blas2/testing_trsv.hpp
  clients/include/blas2/testing_trsv_strided_batched.hpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd
