Repository ROCm/hipBLAS, changes with the owners that .github/CODEOWNERS names for each.
All owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

fix doc failures
  library/include/hipblas.h
Owners: @ROCm/rocm-documentation, @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Update links (#800)
  docs/clients.rst
Owners: @ROCm/rocm-documentation, @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Update links (#800)
  docs/clients.rst
Owners: @ROCm/rocm-documentation, @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

tbsv tpsv trsv ILP64 (#811)
  clients/common/hipblas_template_specialization.cpp
  clients/gtest/blas2/tbsv_gtest.yaml
  clients/gtest/blas2/tpsv_gtest.yaml
  clients/gtest/blas2/trsv_gtest.yaml
  clients/include/blas2/testing_tbsv.hpp
  clients/include/blas2/testing_tbsv_batched.hpp
  clients/include/blas2/testing_tbsv_strided_batched.hpp
  clients/include/blas2/testing_tpsv.hpp
  clients/include/blas2/testing_tpsv_batched.hpp
  clients/include/blas2/testing_tpsv_strided_batched.hpp
  clients/include/blas2/testing_trsv.hpp
  clients/include/blas2/testing_trsv_batched.hpp
  clients/include/blas2/testing_trsv_strided_batched.hpp
  clients/include/hipblas.hpp
  clients/include/hipblas_fortran.h.in
  clients/include/hipblas_fortran.hpp
  clients/include/hipblas_fortran_blas_64.f90
  clients/include/hipblas_no_fortran.hpp
  docs/functions.rst
  library/include/hipblas.h
  library/src/amd_detail/hipblas.cpp
  library/src/hipblas_module.f90
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

tbsv tpsv trsv ILP64 (#811)
  clients/common/hipblas_template_specialization.cpp
  clients/gtest/blas2/tbsv_gtest.yaml
  clients/gtest/blas2/tpsv_gtest.yaml
  clients/gtest/blas2/trsv_gtest.yaml
  clients/include/blas2/testing_tbsv.hpp
  clients/include/blas2/testing_tbsv_batched.hpp
  clients/include/blas2/testing_tbsv_strided_batched.hpp
  clients/include/blas2/testing_tpsv.hpp
  clients/include/blas2/testing_tpsv_batched.hpp
  clients/include/blas2/testing_tpsv_strided_batched.hpp
  clients/include/blas2/testing_trsv.hpp
  clients/include/blas2/testing_trsv_batched.hpp
  clients/include/blas2/testing_trsv_strided_batched.hpp
  clients/include/hipblas.hpp
  clients/include/hipblas_fortran.h.in
  clients/include/hipblas_fortran.hpp
  clients/include/hipblas_fortran_blas_64.f90
  clients/include/hipblas_no_fortran.hpp
  docs/functions.rst
  library/include/hipblas.h
  library/src/amd_detail/hipblas.cpp
  library/src/hipblas_module.f90
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

Testing_ file changes
  clients/common/hipblas_template_specialization.cpp
  clients/include/blas2/testing_gbmv.hpp
  clients/include/blas2/testing_gbmv_batched.hpp
  clients/include/blas2/testing_gbmv_strided_batched.hpp
  clients/include/blas2/testing_gemv.hpp
  clients/include/blas2/testing_gemv_batched.hpp
  clients/include/blas2/testing_gemv_strided_batched.hpp
  clients/include/blas2/testing_ger.hpp
  clients/include/blas2/testing_ger_batched.hpp
  clients/include/blas2/testing_ger_strided_batched.hpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Lwpmlse-608 aocl 4.2 as reference (#809)
  clients/CMakeLists.txt
  clients/benchmarks/CMakeLists.txt
  clients/cmake/build-options.cmake
  clients/gtest/CMakeLists.txt
  docs/install.rst
  rmake.py
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

Lwpmlse-608 aocl 4.2 as reference (#809)
  clients/CMakeLists.txt
  clients/benchmarks/CMakeLists.txt
  clients/cmake/build-options.cmake
  clients/gtest/CMakeLists.txt
  docs/install.rst
  rmake.py
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

rest of the chagnes
  clients/gtest/blas2/gbmv_gtest.yaml
  clients/gtest/blas2/gemv_gtest.yaml
  clients/gtest/blas2/ger_gtest.yaml
  clients/include/blas2/testing_gbmv.hpp
  clients/include/blas2/testing_gbmv_batched.hpp
  clients/include/blas2/testing_gbmv_strided_batched.hpp
  clients/include/blas2/testing_gemv.hpp
  clients/include/blas2/testing_gemv_batched.hpp
  clients/include/blas2/testing_gemv_strided_batched.hpp
  clients/include/blas2/testing_ger.hpp
  clients/include/blas2/testing_ger_batched.hpp
  clients/include/blas2/testing_ger_strided_batched.hpp
  clients/include/hipblas.hpp
  clients/include/hipblas_fortran.h.in
  clients/include/hipblas_fortran.hpp
  clients/include/hipblas_fortran_blas_64.f90
  clients/include/hipblas_no_fortran.hpp
  docs/functions.rst
  library/include/hipblas.h
  library/src/amd_detail/hipblas.cpp
  library/src/hipblas_module.f90
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

Update docs and fix cmake_install build option.
  docs/install.rst
  install.sh
  rmake.py
Owners: @ROCm/rocm-documentation, @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

just whitespace fix.
  install.sh
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Fix CUDA ci
  clients/common/hipblas_template_specialization.cpp
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Address Daine's comment
  clients/include/blas2/testing_gemv_batched.hpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Address PR comments.
  docs/install.rst
Owners: @ROCm/rocm-documentation, @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

gbmv, gemv, ger ILP64 (#815)
  clients/common/hipblas_template_specialization.cpp
  clients/gtest/blas2/gbmv_gtest.yaml
  clients/gtest/blas2/gemv_gtest.yaml
  clients/gtest/blas2/ger_gtest.yaml
  clients/include/blas2/testing_gbmv.hpp
  clients/include/blas2/testing_gbmv_batched.hpp
  clients/include/blas2/testing_gbmv_strided_batched.hpp
  clients/include/blas2/testing_gemv.hpp
  clients/include/blas2/testing_gemv_batched.hpp
  clients/include/blas2/testing_gemv_strided_batched.hpp
  clients/include/blas2/testing_ger.hpp
  clients/include/blas2/testing_ger_batched.hpp
  clients/include/blas2/testing_ger_strided_batched.hpp
  clients/include/hipblas.hpp
  clients/include/hipblas_fortran.h.in
  clients/include/hipblas_fortran.hpp
  clients/include/hipblas_fortran_blas_64.f90
  clients/include/hipblas_no_fortran.hpp
  docs/functions.rst
  library/include/hipblas.h
  library/src/amd_detail/hipblas.cpp
  library/src/hipblas_module.f90
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

gbmv, gemv, ger ILP64 (#815)
  clients/common/hipblas_template_specialization.cpp
  clients/gtest/blas2/gbmv_gtest.yaml
  clients/gtest/blas2/gemv_gtest.yaml
  clients/gtest/blas2/ger_gtest.yaml
  clients/include/blas2/testing_gbmv.hpp
  clients/include/blas2/testing_gbmv_batched.hpp
  clients/include/blas2/testing_gbmv_strided_batched.hpp
  clients/include/blas2/testing_gemv.hpp
  clients/include/blas2/testing_gemv_batched.hpp
  clients/include/blas2/testing_gemv_strided_batched.hpp
  clients/include/blas2/testing_ger.hpp
  clients/include/blas2/testing_ger_batched.hpp
  clients/include/blas2/testing_ger_strided_batched.hpp
  clients/include/hipblas.hpp
  clients/include/hipblas_fortran.h.in
  clients/include/hipblas_fortran.hpp
  clients/include/hipblas_fortran_blas_64.f90
  clients/include/hipblas_no_fortran.hpp
  docs/functions.rst
  library/include/hipblas.h
  library/src/amd_detail/hipblas.cpp
  library/src/hipblas_module.f90
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

build from source documentation updates (#816)
  docs/install.rst
  install.sh
  rmake.py
Owners: @ROCm/rocm-documentation, @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

build from source documentation updates (#816)
  docs/install.rst
  install.sh
  rmake.py
Owners: @ROCm/rocm-documentation, @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

L1_ex 64-bit interfaces.
  clients/gtest/blas_ex/axpy_ex_gtest.yaml
  clients/gtest/blas_ex/dot_ex_gtest.yaml
  clients/gtest/blas_ex/nrm2_ex_gtest.yaml
  clients/gtest/blas_ex/rot_ex_gtest.yaml
  clients/gtest/blas_ex/scal_ex_gtest.yaml
  clients/include/blas_ex/testing_axpy_batched_ex.hpp
  clients/include/blas_ex/testing_axpy_ex.hpp
  clients/include/blas_ex/testing_axpy_strided_batched_ex.hpp
  clients/include/blas_ex/testing_dot_batched_ex.hpp
  clients/include/blas_ex/testing_dot_ex.hpp
  clients/include/blas_ex/testing_dot_strided_batched_ex.hpp
  clients/include/blas_ex/testing_nrm2_batched_ex.hpp
  clients/include/blas_ex/testing_nrm2_ex.hpp
  clients/include/blas_ex/testing_nrm2_strided_batched_ex.hpp
  clients/include/blas_ex/testing_rot_batched_ex.hpp
  clients/include/blas_ex/testing_rot_ex.hpp
  clients/include/blas_ex/testing_rot_strided_batched_ex.hpp
  clients/include/blas_ex/testing_scal_batched_ex.hpp
  clients/include/blas_ex/testing_scal_ex.hpp
  clients/include/blas_ex/testing_scal_strided_batched_ex.hpp
  clients/include/hipblas_fortran.h.in
  clients/include/hipblas_fortran.hpp
  clients/include/hipblas_fortran_blas_64.f90
  clients/include/hipblas_no_fortran.hpp
  docs/functions.rst
  library/include/hipblas.h
  library/src/amd_detail/hipblas.cpp
  library/src/hipblas_module.f90
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

Remove fortran 64-bit tests from HIPBLAS_V2 api since we don't have _V2 interface for fortran during transition.
  clients/gtest/hipblas_test.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Rename all functions to start with 'hipblas'
  library/src/amd_detail/hipblas.cpp
  library/src/include/exceptions.hpp
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Rest of the changes
  clients/gtest/blas2/gemv_gtest.yaml
  clients/gtest/hipblas_gtest_main.cpp
  clients/gtest/hipblas_test.cpp
  clients/include/d_vector.hpp
  clients/include/utility.h
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Inital changes
  clients/benchmarks/CMakeLists.txt
  clients/common/host_alloc.cpp
  clients/gtest/CMakeLists.txt
  clients/include/d_vector.hpp
  clients/include/hipblas_init.hpp
  clients/include/hipblas_vector.hpp
  clients/include/host_alloc.hpp
  clients/include/host_batch_vector.hpp
  clients/include/utility.h
  clients/samples/example_bfdot_hip_bfloat16.cpp
  clients/samples/example_scal_ex_v2.cpp
  clients/samples/example_sscal.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Fix dot_ex test.
  clients/include/blas_ex/testing_dot_ex.hpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

minor changes
  clients/common/host_alloc.cpp
  clients/gtest/blas2/gemv_gtest.yaml
  clients/samples/example_sscal.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

update
  docs/.sphinx/requirements.txt
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

more changes
  clients/include/hipblas_init.hpp
  clients/include/utility.h
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

calloc_throw
  clients/include/host_batch_vector.hpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Add gemv_batched_64 test for CI testing
  clients/gtest/blas2/gemv_gtest.yaml
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

update
  docs/sphinx/requirements.txt
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Removing L1 stress 64-bit tests until we get better memory test infrastructure. (#804)
  clients/gtest/blas1/asum_gtest.yaml
  clients/gtest/blas1/axpy_gtest.yaml
  clients/gtest/blas1/copy_gtest.yaml
  clients/gtest/blas1/dot_gtest.yaml
  clients/gtest/blas1/iamaxmin_gtest.yaml
  clients/gtest/blas1/nrm2_gtest.yaml
  clients/gtest/blas1/rot_gtest.yaml
  clients/gtest/blas1/scal_gtest.yaml
  clients/gtest/blas1/swap_gtest.yaml
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Revert doc requirements
  docs/.sphinx/requirements.in
  docs/.sphinx/requirements.txt
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

experimental device memory handling
  clients/include/d_vector.hpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

fix nrm2 test.
  clients/include/blas_ex/testing_nrm2_ex.hpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Remove deprecated option from static job build command
  .jenkins/static.groovy
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Add rocPRIM for static lib ci
  .jenkins/static.groovy
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Add -s flag for static in rmake
  rmake.py
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Skip building deps for static ci
  .jenkins/static.groovy
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Rename all functions to start with 'hipblas' (#820)
  library/src/amd_detail/hipblas.cpp
  library/src/include/exceptions.hpp
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Rename all functions to start with 'hipblas' (#820)
  library/src/amd_detail/hipblas.cpp
  library/src/include/exceptions.hpp
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

.github/CODEOWNERS:

* @amcamd @TorreZuk @mahmoodw @daineAMD @bragadeesh @NaveenElumalaiAMD @rkamd
# Documentation files
docs/* @ROCm/rocm-documentation @amcamd @TorreZuk @mahmoodw @daineAMD @bragadeesh @NaveenElumalaiAMD @rkamd
*.md @ROCm/rocm-documentation @amcamd @TorreZuk @mahmoodw @daineAMD @bragadeesh @NaveenElumalaiAMD @rkamd
*.rst @ROCm/rocm-documentation @amcamd @TorreZuk @mahmoodw @daineAMD @bragadeesh @NaveenElumalaiAMD @rkamd
# Header directory for Doxygen documentation
library/include/* @ROCm/rocm-documentation @amcamd @TorreZuk @mahmoodw @daineAMD @bragadeesh @NaveenElumalaiAMD @rkamd
