Repository ROCm/hipBLAS, changes with the owners that .github/CODEOWNERS names for each.
All owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @amcamd @TorreZuk @mahmoodw @daineAMD @bragadeesh @NaveenElumalaiAMD @rkamd
# Documentation files
docs/* @ROCm/rocm-documentation @amcamd @TorreZuk @mahmoodw @daineAMD @bragadeesh @NaveenElumalaiAMD @rkamd
*.md @ROCm/rocm-documentation @amcamd @TorreZuk @mahmoodw @daineAMD @bragadeesh @NaveenElumalaiAMD @rkamd
*.rst @ROCm/rocm-documentation @amcamd @TorreZuk @mahmoodw @daineAMD @bragadeesh @NaveenElumalaiAMD @rkamd
# Header directory for Doxygen documentation
library/include/* @ROCm/rocm-documentation @amcamd @TorreZuk @mahmoodw @daineAMD @bragadeesh @NaveenElumalaiAMD @rkamd

Update github link (#787)
  cmake/dependencies.cmake
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Update github link (#787)
  cmake/dependencies.cmake
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

ROCm 6.1 CHANGELOG update
  CHANGELOG.md
Owners: @ROCm/rocm-documentation, @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

ROCm 6.1 CHANGELOG update
  CHANGELOG.md
Owners: @ROCm/rocm-documentation, @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Invoke rmake.py when using install.sh to build (#788)
  clients/gtest/CMakeLists.txt
  install.sh
  library/CMakeLists.txt
  library/src/CMakeLists.txt
  rmake.py
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Invoke rmake.py when using install.sh to build (#788)
  clients/gtest/CMakeLists.txt
  install.sh
  library/CMakeLists.txt
  library/src/CMakeLists.txt
  rmake.py
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Re-enable static library job in CI
  .jenkins/static.groovy
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

her and her2 ILP64 changes
  clients/common/hipblas_template_specialization.cpp
  clients/gtest/blas2/her2_gtest.yaml
  clients/gtest/blas2/her_gtest.yaml
  clients/include/blas2/testing_her.hpp
  clients/include/blas2/testing_her2.hpp
  clients/include/blas2/testing_her2_batched.hpp
  clients/include/blas2/testing_her2_strided_batched.hpp
  clients/include/blas2/testing_her_batched.hpp
  clients/include/blas2/testing_her_strided_batched.hpp
  clients/include/hipblas.hpp
  clients/include/hipblas_fortran.h.in
  clients/include/hipblas_fortran.hpp
  clients/include/hipblas_fortran_blas_64.f90
  clients/include/hipblas_no_fortran.hpp
  library/include/hipblas.h
  library/src/amd_detail/hipblas.cpp
  library/src/hipblas_module.f90
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

solved the undefined references issue
  clients/common/hipblas_template_specialization.cpp
  clients/include/hipblas_fortran_blas_64.f90
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

fixed other undefined reference
  library/src/amd_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Address CUDA ci failure
  clients/include/blas2/testing_her_strided_batched.hpp
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Address comments and fix CI
  clients/gtest/blas2/her2_gtest.yaml
  clients/gtest/blas2/her_gtest.yaml
  clients/include/blas2/testing_her_strided_batched.hpp
  clients/include/hipblas_common.yaml
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

fix CI
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

change _64_v2 to _v2_64
  library/include/hipblas.h
  library/src/amd_detail/hipblas.cpp
  library/src/nvidia_detail/hipblas.cpp
Owners: @ROCm/rocm-documentation, @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Add f32_fast_f8-series into compute types.
  library/include/hipblas.h
Owners: @ROCm/rocm-documentation, @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

moved ILP64 tests to bad_arg
  clients/gtest/blas2/her2_gtest.yaml
  clients/gtest/blas2/her_gtest.yaml
  clients/include/blas2/testing_her.hpp
  clients/include/blas2/testing_her2.hpp
  clients/include/blas2/testing_her2_batched.hpp
  clients/include/blas2/testing_her2_strided_batched.hpp
  clients/include/blas2/testing_her_batched.hpp
  clients/include/blas2/testing_her_strided_batched.hpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Update links
  docs/clients.rst
Owners: @ROCm/rocm-documentation, @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Update clients.rst
  docs/clients.rst
Owners: @ROCm/rocm-documentation, @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Update links
  docs/clients.rst
Owners: @ROCm/rocm-documentation, @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Update install.rst
  docs/install.rst
Owners: @ROCm/rocm-documentation, @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Update index.rst
  docs/index.rst
Owners: @ROCm/rocm-documentation, @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Update install.rst
  docs/install.rst
Owners: @ROCm/rocm-documentation, @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

her and her2 ILP64 (#797)
  clients/common/hipblas_template_specialization.cpp
  clients/gtest/blas2/her2_gtest.yaml
  clients/gtest/blas2/her_gtest.yaml
  clients/include/blas2/testing_her.hpp
  clients/include/blas2/testing_her2.hpp
  clients/include/blas2/testing_her2_batched.hpp
  clients/include/blas2/testing_her2_strided_batched.hpp
  clients/include/blas2/testing_her_batched.hpp
  clients/include/blas2/testing_her_strided_batched.hpp
  clients/include/hipblas.hpp
  clients/include/hipblas_common.yaml
  clients/include/hipblas_fortran.h.in
  clients/include/hipblas_fortran.hpp
  clients/include/hipblas_fortran_blas_64.f90
  clients/include/hipblas_no_fortran.hpp
  library/include/hipblas.h
  library/src/amd_detail/hipblas.cpp
  library/src/hipblas_module.f90
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

her and her2 ILP64 (#797)
  clients/common/hipblas_template_specialization.cpp
  clients/gtest/blas2/her2_gtest.yaml
  clients/gtest/blas2/her_gtest.yaml
  clients/include/blas2/testing_her.hpp
  clients/include/blas2/testing_her2.hpp
  clients/include/blas2/testing_her2_batched.hpp
  clients/include/blas2/testing_her2_strided_batched.hpp
  clients/include/blas2/testing_her_batched.hpp
  clients/include/blas2/testing_her_strided_batched.hpp
  clients/include/hipblas.hpp
  clients/include/hipblas_common.yaml
  clients/include/hipblas_fortran.h.in
  clients/include/hipblas_fortran.hpp
  clients/include/hipblas_fortran_blas_64.f90
  clients/include/hipblas_no_fortran.hpp
  library/include/hipblas.h
  library/src/amd_detail/hipblas.cpp
  library/src/hipblas_module.f90
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

64-bit tests
  clients/gtest/blas2/hbmv_gtest.yaml
  clients/gtest/blas2/hemv_gtest.yaml
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

ILP64-changes-hbmv-hemv
  clients/common/hipblas_template_specialization.cpp
  clients/include/blas2/testing_hbmv.hpp
  clients/include/blas2/testing_hbmv_batched.hpp
  clients/include/blas2/testing_hbmv_strided_batched.hpp
  clients/include/blas2/testing_hemv.hpp
  clients/include/blas2/testing_hemv_batched.hpp
  clients/include/blas2/testing_hemv_strided_batched.hpp
  clients/include/hipblas.hpp
  clients/include/hipblas_fortran.h.in
  clients/include/hipblas_fortran.hpp
  clients/include/hipblas_fortran_blas_64.f90
  clients/include/hipblas_no_fortran.hpp
  library/include/hipblas.h
  library/src/amd_detail/hipblas.cpp
  library/src/hipblas_module.f90
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

update TOC to match rocDecode
  docs/index.rst
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Clang-formatted
  clients/include/hipblas_fortran.h.in
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Removing L1 stress 64-bit tests until we get better memory test infrastructure.
  clients/gtest/blas1/asum_gtest.yaml
  clients/gtest/blas1/axpy_gtest.yaml
  clients/gtest/blas1/copy_gtest.yaml
  clients/gtest/blas1/dot_gtest.yaml
  clients/gtest/blas1/iamaxmin_gtest.yaml
  clients/gtest/blas1/nrm2_gtest.yaml
  clients/gtest/blas1/rot_gtest.yaml
  clients/gtest/blas1/scal_gtest.yaml
  clients/gtest/blas1/swap_gtest.yaml
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

removing redundant tests
  clients/include/blas2/testing_hbmv.hpp
  clients/include/blas2/testing_hbmv_batched.hpp
  clients/include/blas2/testing_hbmv_strided_batched.hpp
  clients/include/blas2/testing_hemv.hpp
  clients/include/blas2/testing_hemv_batched.hpp
  clients/include/blas2/testing_hemv_strided_batched.hpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Spr and spr2 64-bit interface.
  clients/common/hipblas_template_specialization.cpp
  clients/gtest/blas2/spr2_gtest.yaml
  clients/gtest/blas2/spr_gtest.yaml
  clients/include/blas2/testing_spr.hpp
  clients/include/blas2/testing_spr2.hpp
  clients/include/blas2/testing_spr2_batched.hpp
  clients/include/blas2/testing_spr2_strided_batched.hpp
  clients/include/blas2/testing_spr_batched.hpp
  clients/include/blas2/testing_spr_strided_batched.hpp
  clients/include/hipblas.hpp
  clients/include/hipblas_fortran.h.in
  clients/include/hipblas_fortran.hpp
  clients/include/hipblas_fortran_blas_64.f90
  clients/include/hipblas_no_fortran.hpp
  docs/functions.rst
  library/include/hipblas.h
  library/src/amd_detail/hipblas.cpp
  library/src/hipblas_module.f90
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

ILP64-hbmv-hemv (#799)
  clients/common/hipblas_template_specialization.cpp
  clients/gtest/blas2/hbmv_gtest.yaml
  clients/gtest/blas2/hemv_gtest.yaml
  clients/include/blas2/testing_hbmv.hpp
  clients/include/blas2/testing_hbmv_batched.hpp
  clients/include/blas2/testing_hbmv_strided_batched.hpp
  clients/include/blas2/testing_hemv.hpp
  clients/include/blas2/testing_hemv_batched.hpp
  clients/include/blas2/testing_hemv_strided_batched.hpp
  clients/include/hipblas.hpp
  clients/include/hipblas_fortran.h.in
  clients/include/hipblas_fortran.hpp
  clients/include/hipblas_fortran_blas_64.f90
  clients/include/hipblas_no_fortran.hpp
  library/include/hipblas.h
  library/src/amd_detail/hipblas.cpp
  library/src/hipblas_module.f90
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

ILP64-hbmv-hemv (#799)
  clients/common/hipblas_template_specialization.cpp
  clients/gtest/blas2/hbmv_gtest.yaml
  clients/gtest/blas2/hemv_gtest.yaml
  clients/include/blas2/testing_hbmv.hpp
  clients/include/blas2/testing_hbmv_batched.hpp
  clients/include/blas2/testing_hbmv_strided_batched.hpp
  clients/include/blas2/testing_hemv.hpp
  clients/include/blas2/testing_hemv_batched.hpp
  clients/include/blas2/testing_hemv_strided_batched.hpp
  clients/include/hipblas.hpp
  clients/include/hipblas_fortran.h.in
  clients/include/hipblas_fortran.hpp
  clients/include/hipblas_fortran_blas_64.f90
  clients/include/hipblas_no_fortran.hpp
  library/include/hipblas.h
  library/src/amd_detail/hipblas.cpp
  library/src/hipblas_module.f90
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation

Removing L1 stress 64-bit tests until we get better memory test infrastructure. (#804)
  clients/gtest/blas1/asum_gtest.yaml
  clients/gtest/blas1/axpy_gtest.yaml
  clients/gtest/blas1/copy_gtest.yaml
  clients/gtest/blas1/dot_gtest.yaml
  clients/gtest/blas1/iamaxmin_gtest.yaml
  clients/gtest/blas1/nrm2_gtest.yaml
  clients/gtest/blas1/rot_gtest.yaml
  clients/gtest/blas1/scal_gtest.yaml
  clients/gtest/blas1/swap_gtest.yaml
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Removing L1 stress 64-bit tests until we get better memory test infrastructure. (#804)
  clients/gtest/blas1/asum_gtest.yaml
  clients/gtest/blas1/axpy_gtest.yaml
  clients/gtest/blas1/copy_gtest.yaml
  clients/gtest/blas1/dot_gtest.yaml
  clients/gtest/blas1/iamaxmin_gtest.yaml
  clients/gtest/blas1/nrm2_gtest.yaml
  clients/gtest/blas1/rot_gtest.yaml
  clients/gtest/blas1/scal_gtest.yaml
  clients/gtest/blas1/swap_gtest.yaml
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Address PR comments and fix cuda build.
  clients/include/blas2/testing_spr.hpp
  clients/include/blas2/testing_spr2.hpp
  clients/include/blas2/testing_spr2_batched.hpp
  clients/include/blas2/testing_spr2_strided_batched.hpp
  clients/include/blas2/testing_spr_batched.hpp
  clients/include/blas2/testing_spr_strided_batched.hpp
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Fix cuda spr_64.
  clients/include/hipblas_fortran_blas_64.f90
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Fix cuda build.
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

fix test code.
  clients/include/blas2/testing_spr.hpp
  clients/include/blas2/testing_spr2.hpp
  clients/include/blas2/testing_spr2_batched.hpp
  clients/include/blas2/testing_spr2_strided_batched.hpp
  clients/include/blas2/testing_spr_batched.hpp
  clients/include/blas2/testing_spr_strided_batched.hpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd

Sbmv and spmv 64-bit interface
  clients/gtest/blas2/sbmv_gtest.yaml
  clients/gtest/blas2/spmv_gtest.yaml
  clients/include/blas2/testing_sbmv.hpp
  clients/include/blas2/testing_sbmv_batched.hpp
  clients/include/blas2/testing_sbmv_strided_batched.hpp
  clients/include/blas2/testing_spmv.hpp
  clients/include/blas2/testing_spmv_batched.hpp
  clients/include/blas2/testing_spmv_strided_batched.hpp
  clients/include/hipblas.hpp
  clients/include/hipblas_fortran.h.in
  clients/include/hipblas_fortran.hpp
  clients/include/hipblas_fortran_blas_64.f90
  clients/include/hipblas_no_fortran.hpp
  docs/functions.rst
  library/include/hipblas.h
  library/src/amd_detail/hipblas.cpp
  library/src/hipblas_module.f90
  library/src/nvidia_detail/hipblas.cpp
Owners: @amcamd, @TorreZuk, @mahmoodw, @daineAMD, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @ROCm/rocm-documentation
